/*
* This is a manifest file that'll be compiled into platformTools.css,
* which will include all the files listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
*= require platformTools/bootstrap.min
*= require_self
*/
body {
    padding-top: 40px;
}

.tag-demo {
    margin-bottom: 20px;
}

.tag-source, .tag-result, .tag-output {
    margin: 4px 20px 4px 20px;
    padding: 4px;
    background-color: #eee;
}
